.general {
  padding: 20px 100px;

  .forms {
    display: flex;
    justify-content: space-between;
    height: 70%;
    form {
      width: 50%;

      padding: 10px 0;

      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        display: table;
        letter-spacing: 0.01em;
        margin-bottom: 3px;
      }
      textarea {
        resize: none;
        height: 100px;
        width: 90%;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        padding: 5px;
        border: 0.5px solid #000000;
        border-radius: 5px;
      }

      .description {
        margin-bottom: 33px;
      }
      .wrapper {
        margin-bottom: 10px;
      }
      input {
        width: 90%;
        outline: none;
        border: 0.5px solid #000000;
        border-radius: 5px;
        height: 45px;
        font-weight: 400;
        font-size: 14px;
        padding: 5px;
      }

      #gensel {
        width: 90%;
        background-color: transparent;
        border: 1px solid #000000;
        padding: 7px 0;
        .dropdown-header {
          justify-content: flex-end;
        }

        .dropdown-body.open {
          width: 500px;
        }
      }

      input[type="checkbox"] {
        height: initial;
        width: auto;
        margin: 5px;
      }

      #refund-lbl {
        display: inline;
      }

      .refund {
        div {
          display: table;
        }
        display: flex;
        align-items: center;
      }
    }
  }
}
