.lakamlar {
  padding: 20px 100px;
  .lakam-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    #nicksel {
      width: 100%;
      background-color: transparent;
      border: 1px solid #000000;
      margin-top: 10px;
      padding: 3px 0;
      font-size: 14px;
      .dropdown-body.open {
        width: 100px;
      }
    }

    .dukan {
      width: 40%;
    }

    .sku {
      width: 40%;
      label {
        display: table;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        outline: none;
        border: 0.5px solid #000000;
        border-radius: 5px;
        height: 45px;
        font-weight: 400;
        font-size: 14px;
        padding: 5px;
      }
    }
  }

  .btn {
    width: 100%;
    position: relative;
    margin-bottom: 120px;
    button {
      position: absolute;
      background: #f3f3f3;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin-top: 20px;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 135%;
      letter-spacing: 0.01em;
      padding: 5px 25px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
