.sub-onumler {
  position: relative;
  font-size: 12px;
  line-height: 135%;
  /* or 16px */
  letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  .sutunler {
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 500;

    cursor: pointer;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
  }

  .onum-chars {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #no-mg {
    margin: 0;
  }
}
.product-in-details {
  .head {
    background-color: #f2f5f9;
    padding-top: 15px;
    label {
      display: table;
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;

      letter-spacing: 0.01em;
    }

    form {
      display: flex;
      justify-content: center;
      input {
        border: 0.5px solid #000000;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        height: 45px;
        padding: 5px;
      }

      input[type="checkbox"] {
        height: initial;
        margin-top: 10px;
      }

      #check {
        display: initial;
        white-space: nowrap;
        font-size: 10px;
        margin-top: 10px;
      }

      div {
        margin: 0 15px;
        width: 40%;
        .checkbox {
          display: flex;
          height: auto;
          align-items: center;
          margin: 0;
          width: 20%;
        }
      }
    }
  }

  .nav {
    display: flex;
    padding-left: 120px;
    padding-top: 20px;
    list-style: none;
    background-color: #f2f5f9;
    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      letter-spacing: 0.01em;
      margin-right: 10px;
      cursor: pointer;
    }
    li.active {
      background-color: #ffffff;
      border: 1px solid #767676;
      border-bottom: none;
      padding: 0 5px;
    }
  }

  .modal-title {
    border-bottom: 0.5px solid #767676;
    padding-bottom: 15px;
  }
}
