.ishlenildi {
  #ishlenildi {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 135%;
    letter-spacing: 0.01em;
    th {
      background-color: #cbdaff;
      align-items: center;
      width: 10px;
      border-right: 3px solid #dddddd;
      text-align: left;
      padding: 5px 0 5px 10px;
      span {
        font-weight: 500;
      }
      .flexing {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    td {
      padding-left: 15px;
    }

    .blue {
      color: #5681ef;
    }
  }
}
