.filter-select {
  width: auto;
  white-space: nowrap;
  border-radius: 3px;
  height: 60%;
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0.01em;
  .filter-drop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-body {
    border-top: 1px solid #e5e8ec;
    display: none;
  }

  .filter-body.open {
    display: block;
    border-radius: 3px;
    position: absolute;
    background-color: #f3f3f3;
  }

  .filter-item {
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
