.onunden-modal {
  padding: 20px 100px;
  .group-name {
    label {
      display: table;
    }
    input {
      width: 60%;
      margin-top: 10px;
    }
  }

  .selects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;

    #elsel {
      width: 27%;
      margin: 10px 5px;
      background-color: transparent;
      border: 1px solid #000000;
      padding: 7px 0;
      font-size: 14px;

      .dropdown-body.open {
        width: 120px;
      }
    }
  }

  .measure {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0;

    .number {
      width: 65px;
      padding: 8px 5px;
      border: 0.5px solid #000000;
      border-radius: 5px;
      outline: none;
      margin-left: 20px;
      margin-bottom: 0;
    }

    span {
      margin-left: 5px;
      font-weight: 600;
      font-size: 14px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      opacity: 1;
    }

    .nums {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .label {
        width: 100%;
      }
    }

    .address-input {
      width: 40%;
    }

    label {
      display: table;
      margin-bottom: 10px;
    }
  }

  #mg {
    margin-bottom: 120px;
  }
  input {
    width: 100%;
    outline: none;
    border: 0.5px solid #000000;
    border-radius: 5px;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
  }
}
