.dropdown {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  .title {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #767676;
    padding: 10px 15px;

    .active-dot {
      display: none;
    }
    h4 {
      transition: ease-in 0.3s;
      margin-left: 2px;
    }

    .drop-icon {
      margin-left: auto;
      transition: all 0.3s;
    }

    &:hover {
      opacity: 0.7;
      transition: ease-in 0.2s;
    }
  }
  a {
    text-decoration: none;
  }
  .menu {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
    background-color: #2f2f36;
    cursor: pointer;
    .menu-item {
      transition: all 0.7s;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: #fff;
      min-height: 100%;

      span {
        margin-left: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
      }
    }
    &:hover {
      background-color: #29b99d;
    }
  }
  a {
    text-decoration: none;
  }

  .active-drop-link {
    background-color: #29b99d;
  }

  .title-active {
    color: #000;
    .active-dot {
      display: initial;
    }

    .drop-icon {
      transform: rotate(90deg);
      transition: all 0.3s;
    }

    .menu {
      display: block;
      height: auto;
      opacity: 1;
    }
  }
}
